@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .app{
    @apply max-w-[100vw] overflow-x-hidden
  }
  .inputGroup{
    @apply w-full flex flex-col gap-1
  }
  .label{
    @apply text-black text-[16px]
  }
  .input{
    @apply w-full p-2 text-[15px] border-[1px] rounded-[8px] outline-none
  }
  .pad{
    @apply pt-[12px] pb-[12px] pr-[30px] pl-[30px] ;
  }
  .pad1 {
    @apply pt-[11px] pb-[11px] pr-[50px] pl-[50px] ;
  }
  .pad2{
    @apply px-10 tablet:px-6 phone:px-4 ;
  }
  .page{
    @apply bg-gray-10 flex items-center flex-col min-h-[100vh] w-full
  }
  .h2{
    @apply text-primary-color text-[17px] font-semibold
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin 1s linear infinite;
}

/* Custom scrollbar styles */
.scrollbar-thin::-webkit-scrollbar {
  width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background: #D7E1f4; /* Track color */
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background: #6C737F; /* Handle color */
  border-radius: 10px; /* Rounded corners */
}

.scrollbar-thin::-webkit-scrollbar-thumb:hover {
  background: #929292; /* Handle hover color */
}